* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100vw;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  width: 100vw;
  background: linear-gradient(90deg, #812868 0%, #f954a4 100%);
}
.h1 {
  font-size: 20px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
}
.right {
  display: flex;
  align-items: center;
  gap: 25px;
}
.number1 {
  color: white;
  font-size: 20px;
}
.icons {
  color: white;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* footer */
.footer {
  height: 10vh;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0px 140px;
}
.lef img {
  width: 60%;
}
.rig {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 110px;
}
.home {
  padding: 7px 0px;
}
.home:hover {
  border-top: 1px solid #812868;
  border-bottom: 1px solid #812868;
  color: #812868;
}
.about:hover {
  border-top: 1px solid #812868;
  border-bottom: 1px solid #812868;
  color: #812868;
}
.about {
  padding: 7px 0px;
}
.courses:hover {
  border-top: 1px solid #812868;
  border-bottom: 1px solid #812868;
  color: #812868;
}
.courses {
  padding: 7px 0px;
}
.activities:hover {
  border-top: 1px solid #812868;
  border-bottom: 1px solid #812868;
  color: #812868;
}
.activities {
  padding: 7px 0px;
}
.art-gallery:hover {
  border-top: 1px solid #812868;
  border-bottom: 1px solid #812868;
  color: #812868;
}
.art-gallery {
  padding: 7px 0px;
}
.franchise:hover {
  border-top: 1px solid #812868;
  border-bottom: 1px solid #812868;
  color: #812868;
}
.franchise {
  padding: 7px;
}
.online-classes:hover {
  border-top: 1px solid #812868;
  border-bottom: 1px solid #812868;
  color: #812868;
}
.online-classes {
  padding: 7px 0px;
}
.videos:hover {
  border-top: 1px solid #812868;
  border-bottom: 1px solid #812868;
  color: #812868;
}
.videos {
  padding: 7px 0px;
}
.payfee:hover {
  border-top: 1px solid #812868;
  border-bottom: 1px solid #812868;
  color: #812868;
}
.payfee {
  padding: 7px 0px;
}
.contact:hover {
  border-top: 1px solid #812868;
  border-bottom: 1px solid #812868;
  color: #812868;
}
.contact {
  padding: 7px 0px;
}
/* main */
.main {
  height: 82vh;
  width: 100vw;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* page2 */
::-webkit-scrollbar {
  display: none;
}
.top {
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 20px 200px;
}
.div {
  width: 60vw;
  height: 4vh;
}
.h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-size: 19px;
}
.center {
  text-align: center;
  padding: 10px 150px;
}
.welcome {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-size: 35px;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  opacity: 0.7;
  padding-top: 10px;
}
.national {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 20px;
}
button {
  padding: 15px 35px;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(177, 30, 111, 1) 0%,
    rgba(74, 14, 192, 1) 100%
  ) !important;
  border: none;
  margin-bottom: 4vh;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  font-weight: 700;
}
/* PAGE------3 */
.page3 {
  height: 99vh;
  width: 100vw;
  background-image: url(https://www.nifafinearts.com/images/appbg.jpg);
  display: flex;
}
.l {
  height: 99vh;
  width: 45vw;
  padding: 7vw 9.9vw;
}
.l-container {
  height: 70vh;
  width: 30vw;
}
.online {
  font-size: 2vw;
  color: white;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.dear {
  color: white;
  font-weight: 3vw;
  font-size: 1.2vw;
  margin-top: 0.5vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.wish {
  margin-top: 10px;
}
button {
  margin-top: 1vw;
  padding: 10px 20px;
  border: 2px solid white;
}
.download {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2vw;
}
.img1 {
  height: 10%;
  margin-top: 1vw;
}
.img2 {
  height: 10%;
  margin-left: 1vw;
}
.r {
  height: 99vh;
  width: 55vw;
}
/* PAGE---------4 */
.page4 {
  height: 170vh;
  width: 100vw;
  background-image: url(https://www.nifafinearts.com/images/artboard2.png);
}
.our {
  text-align: center;
  margin-top: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  font-size: 2.4vw;
  margin-bottom: 3vw;
}
.boxes {
  height: 51vh;
  width: 80vw;
  display: flex;
  gap: 40px;
  margin-left: 10%;
  margin-top: 20px;
}
.box {
  height: 50vh;
  width: 18vw;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgb(0 0 0 / 10%);
}
.cartoon {
  height: 49.5%;
}
.text {
  width: 70%;
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 8px;
  font-size: 1.2vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.btn{
  background: linear-gradient(
    90deg,
    rgba(177, 30, 111, 1) 0%,
    rgba(74, 14, 192, 1) 100%
  ) !important;
  border: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  margin-left: 70px;
}
@media only screen and (max-width: 550px) {
  .header {
    width: 100vw;
    display: block;
    height: 12vh;
  }
  .number1 {
    color: white;
    font-size: 14px;
  }
  .h1 {
    text-align: center;
    font-size: 17px;
    padding: 15px 10px;
  }
  .icons {
    display: none;
  }
  a {
    font-size: 10px;
  }
  .right {
    text-align: center;
    gap: 10px;
    padding: 0px 20px;
    justify-content: space-between;
  }
  .main {
    width: 100vw;
    height: 30vh;
  }
  .rig {
    margin-left: px;
    gap: 15px;
  }
  .footer {
    width: 100vw;
    padding: 0;
  }
  .lef img {
    width: 10vh;
    margin-left: 20px;
  }
  .activities {
    display: none;
  }
  .art-gallery {
    display: none;
  }
  .franchise {
    display: none;
  }
  .online-classes {
    display: none;
  }
  .videos {
    display: none;
  }
  .payfee {
    display: none;
  }
  .contact {
    display: none;
  }
  .top {
    padding: 0px;
    gap: 10px;
    display: block;
  }
  .div {
    width: 90vw;
    margin-left: 13px;
  }
  .h2 {
    margin-left: 20px;
    margin-top: 16px;
  }
  .center {
    padding: 40px 20px;
  }
  .welcome {
    text-align: center;
    font-size: 6vw;
  }
  p {
    margin-top: 20px;
    font-size: 5vw;
  }
  button {
    padding: 13px 25px;
  }
  .page3 {
    flex-direction: column;
    height: 99vh;
    width: 100vw;
    background-image: url(https://www.nifafinearts.com/images/appbg.jpg);
  }
  .l {
    height: 100vh;
    width: 100vw;
    text-align: center;
  }
  .l-container {
    height: 60vh;
    width: 80vw;
  }
  .online {
    font-size: 8vw;
    color: white;
    font-weight: 900;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .dear {
    color: white;
    font-weight: 3vw;
    font-size: 3.9vw;
    margin-top: 0.5vw;
    margin-bottom: 6vw;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  .download {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 5vw;
    margin-bottom: 2vw;
  }
  .r {
    height: 55vh;
    width: 100vw;
  }
  iframe {
    height: 100%;
    width: 100%;
  }
  
  .our{
    width: 100vw;
    font-size: 9vw;
    margin-top: 20vw;
  }
  .box {
    height: 45vh;
    width: 80vw;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 10%);
    border-radius: 6px;
  }
  .boxes{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    height: 200vh;
  }
  .cartoon{
    width: 100%;
    border-radius: 6px;
  }
  .text{
    font-size: 4vw;
    margin-bottom: 9vw;
  }
  .btn{
    text-align: center;
  }
}
